services:
  task-manager:
    container_name: task-manager
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    environment:
      - CONFIG_PATH=/app/internal/config.yaml
    ports:
      - "8080:8080"
    networks:
      - backend

  database:
    image: postgres:15-alpine
    container_name: task-database
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_PASSWORD: taskpass
      POSTGRES_USER: taskuser
    ports:
      - "5440:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend: